<html>

<head>
  <%- include('../snipplets/head_mng.ejs'); %>
</head>

<body>

  <div class='container'>
    <div class='row'>
      <%- include('../snipplets/top_nav.ejs'); %>
      <%- include('../snipplets/choose_queue_view.ejs'); %>

    </div>
  </div>
</body>
</html>
