
<div id="modal_token_management" class="modal fade" role="dialog">
<div class="modal-dialog">

<!-- Modal content-->
<div class="modal-content modal-content-lg">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
<h4 class="modal-title">Token management</h4>
</div>
<div class="modal-body">
  <p class='alert alert-success'>
    Tokes can be used to programatically execute actions with restricted
    permissions without having to give LRDCOM credentials to
    your scripts.
  </p>
  <button class='btn btn-primary request_token'>New token </button>

  <h2>Token list</h2>
  <div class='user_token_list'></div>

</div>
<div class="modal-footer">
<button type="button" class="btn btn-default do_nothing"
data-dismiss="modal">Close</button>
</div>
</div>

</div>
</div>
