
<div id="modal_db_update_owner" class="modal fade" role="dialog">
<div class="modal-dialog">

<!-- Modal content-->
<div class="modal-content modal-content-lg">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
<h4 class="modal-title">Update database owner </h4>
</div>
<div class="modal-body">

<table class='table'>
<tr>
  <td>Database ID</td>
  <td><input type='text' id='update_owner_db_id' disabled></td>
</tr><tr>
  <td>New owner</td>

  <td>
    <input
      id='new_db_owner'
      type='text'
      placeholder='format: gyula.weber'>
  </td>

</tr>
</table>

</div>
<div class="modal-footer">
<button type="button" class="btn btn-default do_update_owner"
data-dismiss="modal">Update</button>
</div>
</div>

</div>
</div>
