
      <a href='/mng_queue/active'> Active jobs </a><br>
      <a href='/mng_queue/inactive'> Queued jobs </a><br>
      <a href='/mng_queue/failed'> Failed jobs </a><br>
      <a href='/mng_queue/completed'> Completed jobs </a><br>
