<h2> Database import finished </h2>

<p>
You have requested to import a new database: <b><%= db_name %></b>,
and it's now ready.
</p>

<p>
  Just <a href='http://r2d2:7282'> Sign in</a>, and start using it!
</p>



