<form>
  <table>
    <tr><td>Name</td><td><input type='text' id='new_dbserver_name'</td></tr>
    <tr><td>Version</td><td><input type='text' id='new_dbserver_version'</td></tr>
    <tr><td>Host</td><td><input type='text' id='new_dbserver_host'</td></tr>
    <tr><td>Port</td><td><input type='text' id='new_dbserver_port'</td></tr>
    <tr><td>Friendly Name</td><td><input type='text' id='new_dbserver_friendly_name'</td></tr>
    <tr><td>Provider</td><td><input type='text' id='new_dbserver_provider'</td></tr>
    <tr><td>Admin username</td><td><input type='text' id='new_dbserver_admin_username'</td></tr>
    <tr><td>Admin password</td><td><input type='text' id='new_dbserver_admin_password'</td></tr>

    <tr><td colspan='2'><input type='submit' value='Add' id='new_dbserver_add'><td></tr>
  </table>
</form>
